[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
flask-bcrypt = "*"
faker = "*"
requests = "*"
uuid = "*"
isodate = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
